@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Sanchez);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);

.logo {
	cursor: pointer;
	position: absolute;
	top: 20%;
    left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
}

.common_searches {
	position: absolute;
	top: 80%;
    left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: "Roboto Condensed";
	font-weight: normal;
	color: #4bacff;
}

body {
	background-color: white;
	width: 100%;
	height: 100%;
	margin: 0;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
	z-index: 10;
	text-align: center;
	font-size: 12px;
	font-family: "Roboto Condensed";
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.loading_message {
	position: absolute;
	top: 40%;
    left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
}

.loading_message h2 {
	font-family: "Roboto Condensed";
	font-weight: normal;
}

.introduction {
	position: absolute;
	top: 40%;
    left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
}

#introduction_text {
	font-family: "Quattrocento";
	font-weight: normal;
	color: #4bacff;
}

.single_article_intro {
	position: fixed;
    top: 60%;
    left: 50%;
	width: 25%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
}

.search_image h2 {
	font-family: "Playfair Design";
	font-size: 35px;
	font-weight: bold;
}

.search_status {
	position: fixed;
    top: 50%;
    left: 50%;
	width: 25%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
}

.search_class {
	position: fixed;
    top: 50%;
    left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 1;
	width: 35%;
}

.single_article_class {
	position: fixed;
    top: 70%;
    left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 2;
	width: 30%;
}

.search_image_src {
	height: 100%;
	width: 100%;
}

.search_information {
	display: inline-block;
}

.search_table {
	border-collapse: separate;
	border-spacing: 25px;
}

.search_image {
	font-family: "Open Sans Condensed";
	font-weight: normal;
	cursor: pointer;
}

.search_icon {
	cursor: pointer;
}

.search_summary {
	font-family: "Lato";
	font-weight: normal;
	width: 50%;
	height: 50%;
	font-size: 20px;
	
	background: rgba(179,220,237,1);
	background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(188,224,238,1) 0%, rgba(41,184,229,1) 0%, rgba(41,184,229,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(0%, rgba(188,224,238,1)), color-stop(0%, rgba(41,184,229,1)), color-stop(100%, rgba(41,184,229,1)));
	background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(188,224,238,1) 0%, rgba(41,184,229,1) 0%, rgba(41,184,229,1) 100%);
	background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(188,224,238,1) 0%, rgba(41,184,229,1) 0%, rgba(41,184,229,1) 100%);
	background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(188,224,238,1) 0%, rgba(41,184,229,1) 0%, rgba(41,184,229,1) 100%);
	background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(188,224,238,1) 0%, rgba(41,184,229,1) 0%, rgba(41,184,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5', GradientType=1 );
}

#search_query_results {
	border: none;
	position: absolute;
	top: 10%;
}

.navbar {
	position: fixed;
	margin: 20px;
	font-family: "Roboto Condensed";
	font-size: 16px;
	right: 5%;
}

.search_portfolio {
	font-family: "Sanchez";
	font-weight: normal;
	width: 300px;
	height: 300px;
}

.search_portfolio p {
	font-size: 16px;
}

.search_portfolio a {
	font-size: 12px;
}

#search_view {
	align: center;
}

#search_query {
	font-family: "Arial";
	font-weight: normal;
}

#search_query_results {
	font-family: "Arial";
	font-weight: normal;
}

#search_button.gradient {
	background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}

#single_article_button.gradient {
	background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}