@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Sanchez);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);

@media all and (max-width: 480px) {
    *{font-size: 10px;}
	p{font-size: 10px;}
	h1{font-size: 10px;}
	h2{font-size: 10px;}
	h3{font-size: 10px;}
	h4{font-size: 10px;}
	button{font-size: 10px;}
	.search_image p {font-size: 8px;}	
	.search_image h2 {font-size: 8px;}
	.search_summary{font-size: 10px;}
	.search_portfolio{font-size: 10px;}
	.search_portfolio p {font-size: 10px;}
	.search_portfolio a {font-size: 10px;}
}

* {
    box-sizing: border-box;
}

.logo {
	margin-top: 100px;
	cursor: pointer;
	z-index: 9999;
}

.latest_hastags {
	margin-top: 10px;
	font-family: "Roboto Condensed";
	font-weight: normal;
	color: #4bacff;
	width: 100%;
}

.common_searches {
	margin-top: 25px;
	font-family: "Roboto Condensed";
	font-weight: normal;
	color: #4bacff;
	width: 100%;
}

.latest_messages {
	position: fixed;
	top: 40%;
    left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 100;
}

.search_results {
	width: 100%;
}

.latest_hastags h4 {
	padding-bottom: 5px;
}

.latest_hastags a {
	font-size: 18px;
	padding-left: 5px;
}

.common_searches h3 {
	padding-bottom: 5px;
}

.common_searches a {
	font-size: 25px;
	padding-left: 5px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
	background-color: white;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
}

footer {
	position: fixed;
    bottom: 0;
    width: 100%;
	z-index: 10;
	text-align: center;
	font-size: 12px;
	font-family: "Roboto Condensed";
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu {
	position: fixed;
	top: 20%;
    left: 3%;
	z-index: 1000;
}

#menu_icon {
	cursor: pointer;
}

.loading_message {
	position: absolute;
	top: 40%;
    left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
}

.loading_message h2 {
	font-family: "Roboto Condensed";
	font-weight: normal;
}

.weather {
	width: 100%;
	color: lightgrey;
}

.introduction {
	width: 100%;
}

#introduction_text {
	font-family: "Quattrocento";
	font-weight: normal;
	color: #4bacff;
}

.search_image h2 {
	font-family: "Playfair Design";
	font-size: 35px;
	font-weight: bold;
}

.search_status {
	position: fixed;
    top: 50%;
    left: 50%;
	width: 25%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
}

.search_class {
	z-index: 1;
	width: 100%;
}

.single_article_intro {
	margin-top: 25px;
}

.single_article_class {
	z-index: 2;
	width: 100%;
}

.search_image_src {
	height: 100%;
	width: 100%;
}

.search_information {
	display: inline-block;
	border: 0px;
	width: 100%;
}

.search_table {
	border-collapse: separate;
	border-spacing: 25px;
}

.page_results {
	font-family: "Roboto Condensed";
	font-size: 35px;
}

.search_image {
	font-family: "Open Sans Condensed";
	font-weight: normal;
	cursor: pointer;
}

.search_icon {
	cursor: pointer;
}

.search_summary {
	cursor: pointer;
	font-family: "Lato";
	font-weight: normal;
	width: 100%;
	height: 50%;
	font-size: 20px;
	
	background: "#b8e4f8";
}

#search_query_results {
	border: none;
	position: absolute;
	top: 10%;
}

.navbar {
	position: fixed;
	z-index: 1;
	font-family: "Roboto Condensed";
	font-size: 18px;
	width: 100%;	
	background-color: white;
}

.navbar p {
	font-size: 16px;
	float: left;
	margin: 20px;
}

.navbar a {
	float: right;
	margin: 20px;
}

.search_portfolio {
	font-family: "Sanchez";
	font-weight: normal;
	width: 300px;
	height: 300px;
}

.search_portfolio p {
	font-size: 16px;
}

.search_portfolio a {
	font-size: 14px;
}

#search_view {
	align: center;
}

.twitter-share-button {
	margin-top: 5px;
}

.share_button {
	border-collapse: separate;
	border-spacing: 1px;
}

.vertical-center {	
	min-height: 100%;  
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 
    -webkit-box-align : center;
	-webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;
	width: 100%;
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
	-webkit-justify-content : center;
    justify-content : center;
}

.search_query {
	font-family: "Arial";
	font-weight: normal;
}

#search_query_results {
	font-family: "Arial";
	font-weight: normal;
}

#search_button.gradient {
	background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}

#single_article_button.gradient {
	background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}

.blocks .btn 
{
    margin: 5px;
}

.badge {
	position: relative;
	top: 4px;
	left: -8px;
	background-color: red;
}

.latest_chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.latest_chat li
{
	cursor: pointer;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}